body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AFD275;
}
li {
    float: left;
}
 li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    

}
li a:hover{
    text-decoration:underline;
    background-color:gray;
    text-transform: uppercase
    
}
.header {
    padding: 20px;
    text-align: center;
    background: #C2B9B0;
    color: white;
    font-size: 30px;
    

}
.section{
    
    height:120vh;
    width: 100%;
    margin:0;
    padding:left;
    background-color: #C2CAD0;
}


    


.footer{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #AFD275;
    
    
}



.paragraph1 {
    text-align: justify;
    padding-top: 50px;


}

.paragraph2 {
    text-align: left;
    
}

.paragraph3 {
    text-decoration: solid ;
}
.container{
    padding-left: 10px;
    display: inline-block;
    width: 95%;
    height:550px;
    background-color: transparent;
    margin-left: 5px;
}
.img{
    float: left;
    width: 40%;
    in-height: 450px;
    background-color: transparent;
    margin-left:5px;
    margin-top: 10px;

}
.bio{

    float: left;
    width: 50%;
    height: 500px;
    padding-right: 15px;
    margin-left: 25px;
}
img{
    padding-bottom: 25px;
    width: 80%;
    height: 500px;

}
.skill{
    margin-left: 10px;
    width: 99%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #C2B9B0;
}
.tech{
    margin-left: 10px;
    width: 98%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #7E685A;
}

.upper{
    margin-left: 10px;
    width: 98%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #AFD275;
}